# For Local Deploys only
# Fill it in and rename it to .env if you are deploying on a Local Machine / VPS


API_ID=6
API_HASH=803b9bf62395f64a16a299fce45f3482
SESSION=pyrogram_string_session
HNDLR=!
GROUP_MODE="True"
